.button-logout {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button-logout:hover {
    -fx-background-color: #c9302c;
}

.app-background {
    -fx-background-color: #ecf0f1;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 16;
}

.input {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 12px;
    -fx-font-size: 14px;
}

.input-compact {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.btn-primary-green {
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 12px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-primary-blue {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 12px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-secondary {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 12px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-dark {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 10px 14px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.critical-attendance {
    -fx-background-color: #ffcccc;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.warning-attendance {
    -fx-background-color: #fff3cd;
    -fx-text-fill: #8a6d3b;
    -fx-font-weight: bold;
}

.btn-action-edit {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 3;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.btn-action-edit:hover {
    -fx-background-color: #2980b9;
}

.btn-action-delete {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 3;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.btn-action-delete:hover {
    -fx-background-color: #c0392b;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5 5 0 0;
}
.table-view .column-header .label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}